:root {
    --background-color: rgb(94, 94, 94);
    --container-bg: gray;
    --item-bg: #d1d1d1;
    --border-color: #ffffff;
    --linear-gradient: linear-gradient(135deg, #00ffff, #0446a8);
    --modal-bg: rgb(179, 179, 179);
    --modal-bg-shadow: rgba(0, 0, 0, 0.25);
    --wrong-bg: red;
    --correct-bg: rgb(0, 209, 0);
    --button-gradient: linear-gradient(135deg, #00ffff, #0446a8);
    --button-text-color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background-color);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    background: var(--container-bg);
    padding: 2.5rem 3.75rem;
    width: 70rem;
    height: 60rem;
}

h2 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    padding-bottom: 2rem;
}

.game {
    width: 60rem;
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem; 
    transform-style: preserve-3d;
    perspective: 62.5rem;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    width: 100%; 
    height: 100%;
    border: 0.25rem solid var(--border-color);
    border-radius: 0.8rem; 
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
    perspective: 1000px;
    background: var(--item-bg);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.item::before, .item::after {
    content: '';
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    border-radius: 0.8rem;
}

.item::before {
    background: var(--linear-gradient);
    transform: rotateY(0deg);
    cursor: pointer;
}

.item::after {
    transform: rotateY(180deg);
}

.item.boxOpen {
    transform: rotateY(180deg);
}

.item.boxMatch {
    transform: rotateY(180deg);
    background-color: var(--correct-bg);
}

.timer {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    padding-top: 2rem;
}

.item.wrong {
    background-color: var(--wrong-bg); 
}

.item.correct {
    background-color: var(--correct-bg);
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-bg-shadow);
    justify-content: center;
    align-items: center;
}

.modal-visible {
    display: flex;
}

.modal-content {
    background-color: var(--modal-bg);
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 25rem;
    height: 14rem;
    box-shadow: 0 0.5rem 1rem var(--modal-bg-shadow);
}

#modal-message {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#try-again {
    padding: 0.75rem 1.5rem;
    font-size: 2rem;
    background: var(--button-gradient);
    color: var(--button-text-color);
    border: none; 
    border-radius: 0.5rem;
    cursor: pointer;
}
